<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet"  th:href="@{/static/css/common/models.css}" />
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet"   th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet"  th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <link rel="stylesheet" th:href="@{/static/js/plugins/layer/layer.css}" />
</head>
<body>
<div class="MainContent">
    <!--面包屑-->
    <div class="current">当前位置：<a href="#">商品管理</a>&nbsp;&gt;&nbsp;<span>商品列表</span> </div>
    <!--end 面包屑-->
    <!--主体内容-->
    <div class="MainCont">
        <!--标题-->
        <div class="ph_subTit">
            <h2>本地品牌商品[自有]</h2>
            <!--<shiro:hasPermission name="productAdd">
                <div class="ph_snbBtn"><input name="" type="button" onclick="window.location.href='/web/product/toaddProductPagedp?productfrom=1'" value="添加商品"></div>
            </shiro:hasPermission>-->

                <div class="ph_snbBtn">
                    <input name="" type="button" onclick="localProductExport()" value="导出">
                </div>
            <input type="hidden" id="productName666">
        </div>

        <!--end 标题-->
        <!--筛选条件-->

        <shiro:lacksPermission name="productQuery">
            <div class="ph_screen">
                <table class="ph_tableBox">
                    <tr>
                        <th>供应商名称：</th>
                        <td>
                            <select class="selectpicker" data-live-search="true"  id="supplierId">
                                <option value="">请选择</option>
                                <option  th:each="sp:${spList}"   th:value="${sp.id}"
                                         th:text="${sp.name}"></option>
                            </select>
                        </td>
                        <th>商品名称：</th>
                        <td>
                            <input type="text" id="productName" name="productName" >
                        </td>
                        <!--<th>商品品牌：</th>
                        <td>
                            <select class="selectpicker" data-live-search="true"  id="brandId">
                                <option value="">请选择</option>
                                <option  th:each="sp:${brandList}"   th:value="${sp.id}"
                                         th:text="${sp.name}"></option>
                            </select>
                        </td>-->
                        <th>商品分类：</th>
                        <td class="ph_select" colspan="3" >
                            <!--onchange="getClass(this.options[this.selectedIndex].value,'second');"-->
                            <select class="selectpicker"  id="first" data-live-search="true"  >
                                <option value="">请选择</option>
                                <option  th:each="list:${list}"   th:value="${list.id}"
                                         th:text="${list.classifyName}"></option>
                            </select>
                            <!--<select class="selectpicker" id="second"   data-live-search="true" onchange="getClass(this.options[this.selectedIndex].value,'three');">
                                <option value="">请选择</option>
                            </select>
                            <select class="selectpicker"  id="three"   data-live-search="true">
                                <option value="">请选择</option>
                            </select>-->
                        </td>

                    </tr>
                    <tr>
                        <th>上架状态：</th>
                        <td>
                            <select class="selectpicker"  id="status"  name="status">
                                <option value="">请选择</option>
                                <option value="1">已上架</option>
                                <option value="0">已下架</option>
                            </select>
                        </td>
                      <!--  <th>普惠补贴：</th>
                        <td>
                            <select class="selectpicker"  id="phType"  name="phType">
                                <option value="">请选择</option>
                                <option value="0">支持</option>
                                <option value="1">不支持</option>
                            </select>
                        </td>-->
                        <th>条形码：</th>
                        <td>
                            <input type="text" id="barCode" name="barCode" >
                        </td>
                        <!--<th>审核状态：</th>
                        <td>
                            <select class="left selectpicker" id="examineStatus" name="examineStatus">
                                <option value="">请选择</option>
                                <option value="0">待审核</option>
                                <option value="2">未通过</option>
                                <option value="1">通过</option>
                            </select>
                        </td>-->
                        <td colspan="2">
                            <input name="" type="button"  onclick="javascript:query();" value="查询"><input name="" type="button"  onclick="reset();" value="重置">
                        </td>
                    </tr>
                </table>
                <input type="hidden"    id="levleHidden"  value=""/>
                <input type="hidden"    id="productClassifyId"  name="productClassifyId" value=""/>
                <!-- 	       		<input type="hidden"    id="sp"  name="sp"  th:value="${supplierId}"/>  -->

            </div>
        </shiro:lacksPermission>
        <!--end 筛选条件-->
        <!--商品列表-->
        <div class="ph_wareBox">
            <table class="ph_wareList" id="example"></table>
        </div>
        <!--end 商品列表-->
    </div>
    <!--end 主体内容-->

    <!--查看规格弹窗-->
    <div class="PopupBox"  id="skuShow">
        <div class="PopupCon">
            <div class="lookCon ph_wareBox">
                <table class="ph_wareList">
                    <thead>
                    <!--<tr>
                        <th><span class="require">*</span>规格</th>
                        <th><span class="require">*</span>成本价（元）</th>
                        <th><span class="require">*</span>零售价（元）</th>
                        <th><span class="require">*</span>平台收入（元）</th>
                        <th><span class="require">*</span>服务专员收入(元)</th>
                        <th><span class="require">*</span>门店收入（元）</th>
                        <th><span class="require">*</span>进货价（元）</th>
                    </tr>
                    <tbody  id="skuList1">

                    </tbody>-->
                    <tr>
                        <!--<th><span class="require">*</span>积分价</th>
                        <th><span class="require">*</span>重量(kg)</th>
                        <th><span class="require">*</span>长(m)</th>
                        <th><span class="require">*</span>宽(m)</th>
                        <th><span class="require">*</span>高(m)</th>-->
                        <th><span class="require">*</span>商品名称</th>
                        <th><span class="require">*</span>规格</th>
                        <th><span class="require">*</span>条形码</th>
                        <th width="188"><span class="require">*</span>库存</th>
                    </tr>
                    </thead>
                    <tbody  id="skuList">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="lookCon ph_wareBox float:right;" style="float:right;margin-right:100px;">
            总库存: <span id="totalNum"></span>
        </div>
        <!--end 内容-->
    </div>
    <!--end 查看规格弹窗-->

</div>
<div hidden>
    <form action="/web/product/localProductExport" id="localProductExport" method="post">
        <input type="hidden" name="supplierId" value="" id="l_supplierId"/>
        <input type="hidden" name="brandId" value="" id="l_brandId"/>
        <input type="hidden" name="productClassifyId" value="" id="l_first"/>
        <input type="hidden" name="examineStatus" value="" id="l_examineStatus"/>
        <input type="hidden" name="status" value="" id="l_psrstus"/>
        <input type="hidden" name="productName" value="" id="l_productname"/>
        <input type="hidden" name="barCode" value="" id="l_barcode"/>
        <input type="hidden" name="phType" value="" id="l_phType"/>
        <input type="hidden" name="productForm" value="1" id="l_type"/>
    </form>
</div>

    <script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>

    <!--bootstrap-select-->
    <script type="text/javascript"  th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
    <script type="text/javascript"  th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
    <script type="text/javascript"  th:src="@{/static/js/plugins/bootstrapselect/select.js}"></script>
    <script type="text/javascript"  th:src="@{/static/js/common/index.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/formCheck.js}"></script>
    <!--分页-->
    <script type="text/javascript"   th:src="@{/static/js/plugins/pages/jquery.dataTables.min.js}"></script>
    <script type="text/javascript"  th:src="@{/static/js/plugins/layer/layer.js}"></script>
    <script type="text/javascript"  th:src="@{/static/js/common/number.js}"></script>
    <script type="text/javascript"  th:inline="javascript">
        //代理商冻结状态
        var  isFrozenAgent=[[${isFrozenAgent}]];
        //当前用户登录的角色
        var  userRole="[[${userRole}]]";
        var  sp=[[${supplierId}]];
        var  supType=[[${supType}]];
        var url;
        if(supType==1){url="/web/product/getproductByPageForSup3";}
        else{url="/web/product/getproductByPage3";}
        var tb;
        $(function() {
            if(sp!=""){
                $("#supplierId").selectpicker('val',sp);
            }
            var Popupe = new PopupBase();
            Popupe.show('.ph_wareBox','.lookBtn', '.maskBox,.ph_lookBox');
            Popupe.show('.ph_wareBox','.lookBtn', '.maskBox,.ph_lookBox');
            Popupe.show('.ph_wareBox','.Js_btn', '.maskBox,.DeterBox');
            Popupe.showHide('.submit', '.DeterBox','.SucBox');
            Popupe.hide('.close', '.maskBox,.DeterBox,.SucBox,.ph_lookBox');
            tb=$('#example').DataTable({
                "bServerSide": true,
                "autoWidth": false,
                "sPaginationType": "full_numbers",
                //"bJQueryUI": true,
                "sDom": '<"">t<"F"ip>',
                "sAjaxSource":url, //ajax调用接口
                "aoColumnDefs": [{sDefaultContent: '',aTargets: [ '_all' ]}],
                "aoColumns": [
                    //{ "sWidth": "50px","sTitle" : "ID", "mData": "id","title":"id"},
                    /*{ "sTitle" : "ID","mData": "id"},*/
                    { "sWidth": "50px", "sTitle" : "序号","mData": "id" , "class": "sClass", "mRender": function (data, type, full, meta) {
                        return meta.row + 1 + meta.settings._iDisplayStart;
                    }
                    },
                    { "sTitle" : "供应商名称","mData": "supplierName"},
                    //{ "sTitle" : "商品类型","mData": "type"},
                   /*{ "sTitle" : "商品名称","mData": "name" ,"mRender":function(data, type, full){
                     var text;
                     if(full.isFrozen=='1'){
                     text="<font color='#ccc'>[冻结]</font>";
                     text+=full.productName;
                     }else if(full.isFrozen=='2'){
                     text="<font color='#ccc'>[暂冻]</font>";
                     text+=full.productName;
                     }else{
                     text=full.productName;
                     }
                     return text;
                     }},*/
                    /*{ "sTitle" : "商品品牌","mData": "brandName"},*/
                    { "sTitle" : "商品名称","mData": "name" },
                    { "sTitle" : "商品分类","mData": "classifyName" },
                    { "sTitle" : "商品单价","mData": "salePrice" },
                    { "sTitle" : "总库存","mData": "num", "mRender": function (data, type, full) {
                            var text = full.num + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="float: right;margin-right: 5px;"  href="javascript:;" onclick="openSku(\''+full.id+'\',\''+full.name+'\');" color="#10c8ef">修改</a>';                            return text;
                        } },
                    { "sTitle" : "销量","mData": "saleNum" },
                    /*{ "sTitle" : "规格","mData": "psid","mRender":function(data, type, full){
                        var text="<a  href='javascript:;' onclick='openSku("+full.id+");' color='#10c8ef'>查看</a>";
                        return text;
                    } },*/
                   /* { "sTitle" : "审核状态","mData": "examineStatus","mRender":function(data, type, full){
                        var text;
                        if(full.examineStatus=='0'){
                            text="<font color='#ccc'>待审核</font>";
                        }else if(full.examineStatus=='2'){
                            text="<font color='#ccc'>未通过</font>";
                        }else{
                            text="<font >通过</font>"
                        }
                        return text;
                    }},*/
                    { "sTitle" : "上架状态","mData": "status","mRender":function(data, type, full){
                        var text;
                        if(full.status== 0 ){
                            //状态 0 null 已下架 1已上架
                            text="<font color='#ccc'>已下架</font>";
                        }
                        /*if(full.status=='1'){
                         text="<font color='#ccc'>未上架</font>";
                         }*/
                        if(full.status==1){
                            text="<font color='#000'>已上架</font>";
                        }
                        return text;
                    } },
                    { "sTitle" : "配送范围","mData": "deliveryArea","mRender":function(data, type, full){
                        var text;
                        var t = full.deliveryArea;
                        if (t == null) {
                            return text;
                        }
                        var arr=t.split(",");
                            t=arr.join("  |  ");
                        var temp = t.split(",", 1);
                        text = "<li title='" + t + "'>" + temp + "</li>";
                        return text;
                    } },
                    // { "sTitle" : "惠普补贴","mData": "phType","mRender":function(data, type, full){
                    //     var text;
                    //     if(full.phType=='0'){
                    //         text="<font color='#000'>支持</font>";
                    //     }
                    //     if(full.phType=='1'){
                    //         text="<font color='#ccc'>不支持</font>";
                    //     }
                    //     return text;
                    // } },
                    { "sWidth": "110px", "sTitle" : "操作","mData" : "id","sClass":"ph_tableShow", "mRender" : function ( data, type, full ) {
                        var text = '<div class="ph_operateBox"><input class="ph_operate" name="" type="button" value="操作选项">';
                        text = text+'<ul class="ph_operateList hide" role="menu">';
                        //.未通过、未上架状态下，操作选项显示商品详情、编辑商品、通过、不通过、删除；
                        //门店对正在销售的商品的管理-操作（上／下架；商品详情）状态 0 null 已下架 1已上架
                        if(full.examineStatus == 0 || full.examineStatus == 2){
                            /*text += "<li><a href='/web/product/toUpdateProduct?id=" + full.id + "'>编辑</a></li>";*/
                            if ([[${session.productDetail}]]) {
                                text += "<li><a href='/web/product/toSeeStoreProductDetails3?id=" + full.id + "'>商品详情</a></li>";
                            }
                            return text;
                        }else{
                            if(full.isDelete == 0){
                                if(full.status==0){
                                    if ([[${session.productGrounding}]]) {
                                        text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="onsal(\''+full.id+'\',\''+1+'\',\''+full.num+'\');" >上架</a></li>';
                                    }
                                }else{
                                    if ([[${session.productGrounding}]]) {
                                        text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="onsal(\''+full.id+'\',\''+0+'\',\''+full.num+'\');" >下架</a></li>';
                                    }
                                }
                            }
                            if ([[${session.productDetail}]]) {
                                text += "<li><a href='/web/product/toSeeStoreProductDetails3?id=" + full.id + "'>商品详情</a></li>";
                            }
                            return text;
                        }
//
//
//
//                        else if(full.status==0){
////                            if ([[${session.productUpdate}]]) {
////                                text += "<li><a href='/web/product/toUpdateProduct?id=" + full.id + "'>编辑</a></li>";
////                            }
//                            if(full.status==0){
//                                if(isFrozenAgent==0&&userRole=="3"){
//                                    if ([[${session.productGrounding}]]) {
//                                        text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="onsal(\''+full.id+'\',\''+1+'\',\''+full.num+'\');" >上架</a></li>';
//                                    }
//                                }else{
//                                    if ([[${session.productGrounding}]]) {
//                                        text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="onsal(\''+full.id+'\',\''+1+'\',\''+full.num+'\');" >上架</a></li>';
//                                    }
//                                }
//                            }
//                            /*text += "<li><a href='/web/product/toUpdateProduct?id=" + full.id + "'>编辑</a></li>";*/
//                            if ([[${session.productDetail}]]) {
//                                text += "<li><a href='/web/product/toSeeStoreProductDetails3?id=" + full.id + "'>商品详情</a></li>";
//                            }
//                            return text;
//                        }else if(full.status==1){
//                            if(full.status==1){
//                                if(isFrozenAgent==0&&userRole=="3"){
//                                    if ([[${session.productGrounding}]]) {
//                                        text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="onsal(\''+full.id+'\',\''+0+'\',\''+full.num+'\');" >下架</a></li>';
//                                    }
//                                }else{
//                                    if ([[${session.productGrounding}]]) {
//                                        text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="onsal(\''+full.id+'\',\''+0+'\',\''+full.num+'\');" >下架</a></li>';
//                                    }
//                                }
//                            }
//                            if ([[${session.productDetail}]]) {
//                                text += "<li><a href='/web/product/toSeeStoreProductDetails3?id=" + full.id + "'>商品详情</a></li>";
//                            }
//                            return text;
//                        } else{
//                            return text;
//                        }
                    }
                    }
                ],
                "oLanguage" : {
                    "sProcessing" : "数据加载中······",
                    "sLengthMenu" : "显示 _MENU_ 条记录",
                    "sZeroRecords" : "没有您要搜索的内容！",
                    "sEmptyTable" : "列表中无数据存在！",
                    "sInfo" : "当前显示 _START_ 到 _END_ 条数据，共 _TOTAL_ 条数据",
                    "sInfoEmpty" : "显示 0 到 0 条记录",
                    "sInfoFiltered" : "数据列表中共  _MAX_ 条记录",
                    "oPaginate" : {
                        "sFirst" : "首页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "末页"
                    }
                },
                "fnServerData" : function ( sSource, aoData, fnCallback, oSettings ) {
                    oSettings.jqXHR = $.ajax( {
                        "dataType" 	: 'json',
                        "type" 		: "GET",
                        "async"     : 'false',
                        "url" 		: sSource,
                        "data" 		: {
                            'pageNum': (aoData[3].value/aoData[4].value)+1,
                            'pageSize' :  aoData[4].value,
                            'createrId':[[${createrId}]],
                            'productClassifyId' : $('#first').val(),
                            'auditState' : $('#auditState').val(),
                            'supplierId' : $('#supplierId').val(),
                            'examineStatus' : $('#examineStatus').val(),
                            'productName' : $('#productName').val(),
                            'status' : $('#status').val(),
                            'brandId' : $('#brandId').val(),
                            'phType' : $('#phType').val(),
                            'saleNoSaleStatus' : $('#saleNoSaleStatus').val(),
                            'productForm' : $('#productForm').val(),
                            'barCode' : $('#barCode').val()
                        },
                        "success"	: fnCallback
                    } );
                }
            });
        });

        //条件查询重新加载数据
        function query() {
            if($("#first").val()!=""&&$("#second").val()==""&&$("#three").val()==""){
                $("#productClassifyId").val($("#first").val());
            }
            if($("#first").val()!=""&&$("#second").val()!=""&&$("#three").val()==""){
                $("#productClassifyId").val($("#second").val());
            }
            if($("#first").val()!=""&&$("#second").val()!=""&&$("#three").val()!=""){
                $("#productClassifyId").val($("#three").val());
            }
            if($("#first").val()==""&&$("#second").val()==""&&$("#three").val()==""){
                $("#productClassifyId").val("");
            }
            tb.draw();
        };

        //属性列表排序保存成功回调方法
        function  skuBack(data){
            $("#skuList").html("");
            $("#skuList1").html("");
            var productName = $("#productName666").val();
            //使用layer弹窗
            console.log(data.data);
            var html;
            var total = 0;
            for(var i=0; i<data.data.length;i++){
                html+="<tr>";
                html+="<td>"+productName+"</td>";
                html+="<td title='"+data.data[i].content+"'><span title='"+data.data[i].content+"'>"+data.data[i].content+"</span></td>";
                html+="<td>"+data.data[i].barCode+"</td>";
                html+="<td><input class='kc' onchange='compute()' type='text' value='"+data.data[i].num+"'><input class='iid' type='hidden' value='"+data.data[i].id+"'></td>";
                html+="</tr>";
                $("#skuList").append(html);
                html = "";
                total += data.data[i].num;
            }
            $("#totalNum").html(total);
            // $("#skuList").append(html);

            layer.open({
                type: 1,
                title: '修改库存',
                closeBtn : 0,
                area: ['1000px','500px'],
                btn:['确认','返回'],
                btnAlign: 'c',
                content: $('#skuShow'),
                btn1: function (index) {
                    //Mr.Shu 2017.5.13
                    var arr=[];
                    $.each($("#skuList tr"),function (index,val) {
                        var json = {

                        };
                        json.id=$(val).find(".iid").val();
                        json.num=$(val).find(".kc").val();
                        arr.push(json)
                    })
                    var data = JSON.stringify(arr);
                    console.info(data);

                    //提交数据
                    $.ajax({
                        async: false,
                        type: "POST",
                        dataType: "json",
                        url: "/web/product/updateProductSku",
                        data: {"productSkuJSON":data},
                        success: function (d) {
                            if(d.success){
                                tb.draw(true);
                                layer.alert('操作成功', {icon: 1,btnAlign: 'c', closeBtn : 0});
                            }else{
                                layer.alert(d.message, {icon: 2,btnAlign: 'c', closeBtn : 0});
                                return false;
                            }
                        }
                    });
                    layer.close(index);
                    console.log(arr);
                }
            });
        }

        //属性列表排序保存成功回调方法
        function  skuCallback(data){
            $("#skuList").html("");
            $("#skuList1").html("");
            //使用layer弹窗
            console.log(data.data);
            var html;
            for(var i=0; i<data.data.length;i++){
                html+="<tr>";
                html+="<td title='"+data.data[i].content+"'><span title='"+data.data[i].content+"'>"+data.data[i].content+"</span></td>";
                html+="<td>"+data.data[i].price/10000+"</td>";
                html+="<td>"+data.data[i].salePrice/10000+"</td>";
                html+="<td>"+data.data[i].platfromIncome/10000+"</td>";
                html+="<td>0.00</td>";
                html+="<td>"+data.data[i].storeIncome/10000+"</td>";
                html+="<td>"+data.data[i].buyingPrice/10000+"</td>";
                html+="</tr>";
                $("#skuList1").append(html);
                html = "";
                html+="<tr>";
                if (data.data[i].scorePrice == null){
                    html+="<td></td>";
                }else{
                    html+="<td>"+(data.data[i].scorePrice/10000).toFixed(2)+"</td>";
                }
                if (data.data[i].weight == null || data.data[i].weight == '0'){
                    html+="<td>0.00</td>";
                }else{
                    html+="<td>"+data.data[i].weight+"</td>";
                }
                if (data.data[i].length == null || data.data[i].length == '0'){
                    html+="<td>0.00</td>";
                }else{
                    html+="<td>"+data.data[i].length+"</td>";
                }
                if (data.data[i].width == null || data.data[i].width == '0'){
                    html+="<td>0.00</td>";
                }else{
                    html+="<td>"+data.data[i].width+"</td>";
                }
                if (data.data[i].height == null || data.data[i].height == '0'){
                    html+="<td>0.00</td>";
                }else{
                    html+="<td>"+data.data[i].height+"</td>";
                }
                html+="<td>"+data.data[i].barCode+"</td>";
                html+="<td>"+data.data[i].num+"</td>";
                html+="</tr>";
                $("#skuList").append(html);
                html = "";
            }
            // $("#skuList").append(html);

            layer.open({
                type: 1,
                title: '查看规格',
                closeBtn : 0,
                area: ['1500px','500px'],
                btn:['取消'],
                btnAlign: 'c',
                content: $('#skuShow')
            });
        }

        //分类联动方法
        function getClass(id,level){
            $("#levleHidden").val("");
            $("#levleHidden").val(level);
            if(level=="second"){
                document.getElementById("second").options.length=0;
                $("#second").prepend("<option value=''>请选择</option>");
                document.getElementById("three").options.length=0;
                $("#three").prepend("<option value=''>请选择</option>");
                $('.selectpicker').selectpicker('refresh');
            }
            if(level=="three"){
                document.getElementById("three").options.length=0;
                $("#three").prepend("<option value=''>请选择</option>");
                $('.selectpicker').selectpicker('refresh');
            }
            if(id!=""){
                $.ajax({url:'/web/product/productClassify/selectClass?id='+id,dataType:"json",type:"post",success:savecallbackOne,error:function(data){
                    layer.alert('与服务器连接中断', {icon: 2,btnAlign: 'c', closeBtn : 0});
                }});
            }
        }
        function savecallbackOne(data){
            console.log(data.data);
            var levle=$("#levleHidden").val();
            if(levle=="second"){
                $("#three").find("option").remove();
                $("#three").prepend("<option value=''>请选择</option>");
                $('.selectpicker').selectpicker('refresh');
            }
            $("#"+levle).find("option").remove();
            $("#"+levle).prepend("<option value=''>请选择</option>");
            for(var i=0; i<data.data.length;i++){
                $("#"+levle).append("<option value='"+data.data[i].id+"'>"+data.data[i].classifyName+"</option>");
            }
            $('.selectpicker').selectpicker('refresh');
        }

        function  reset(){
            $('#productClassifyId').val(""),
                    $('#auditState').val("");
            $('#supplierId').val("");
            $('#productName').val("");
            $('#saleNoSaleStatus').val("");
            $('#examineStatus').val("");
            $('#productForm').val("");
            $("#first").selectpicker('val','');
            /*document.getElementById("second").options.length=0;
            $("#second").prepend("<option value=''>请选择</option>");
            document.getElementById("three").options.length=0;
            $("#three").prepend("<option value=''>请选择</option>");*/
            $('.selectpicker').selectpicker('refresh');
            $('#status').selectpicker('val','');
            $('#phType').selectpicker('val','');
            $('#brandId').selectpicker('val','');
            $('#barCode').val("");
        }

        //上架、下架
        function onsal(id,val,num){
            console.log("商品的id为:"+id);
            console.log("商品的val为:"+val);
            console.log("商品的num为："+num);
            if (num<=0){
                layer.alert('当前库存为零、请修改库存后再上架', {icon: 2,btnAlign: 'c', closeBtn : 0});
                return false;
            }
            //状态 0 null 已下架 1已上架
            var  titles;
            var url;
            if(val==1){titles="上架";url="/web/product/onsalPDProduct";}
            if(val==0){titles="下架";url="/web/product/noOnsalPDProduct";}
            layer.confirm('确定此操作吗？',{
                title: titles,
                icon: 3,
                btnAlign: 'c',
                closeBtn : 0
            }, function(index){
                $.ajax({
                    async:false,
                    url:url,
                    data:{
                        id:id,
                        saleNoSaleStatus:val
                    },
                    type:"GET",
                    dataType:"json",
                    success:function(data){
                        if(data.success){
                            tb.draw(false);
                            layer.alert('操作成功', {icon: 1,btnAlign: 'c', closeBtn : 0});
                        }else{
                            layer.alert(data.message, {icon: 2,btnAlign: 'c', closeBtn : 0});
                            return false;
                        }
                    }
                });
                layer.close(index);
            });

        }


        //删除方法
        function deleteById(id){

            layer.confirm('确定此操作吗？',{
                title: '删除',
                icon: 3,
                btnAlign: 'c',
                closeBtn : 0
            }, function(index){
                $.ajax({
                    async:false,
                    url:"/web/product/deleteProduct",
                    data:{id:id},
                    type:"GET",
                    dataType:"json",
                    success:function(data){
                        if(data.success){
                            tb.draw(false);
                            layer.alert('操作成功', {icon: 1,btnAlign: 'c', closeBtn : 0});
                        }else{
                            layer.alert(data.message, {icon: 2,btnAlign: 'c', closeBtn : 0});
                            return false;
                        }
                    }
                });
                layer.close(index);
            });
        }
        //通过、未通过
        function auditState(id,val){
            var  titles;
            var  url;
            if(val==1){titles="不通过";url="/web/product/noAuditProduct";}if(val==2){titles="通过";url="/web/product/auditProduct";}
            layer.confirm('确定此操作吗？',{
                title: titles,
                icon: 3,
                btnAlign: 'c',
                closeBtn : 0
            }, function(index){
                $.ajax({
                    async:false,
                    url:url,
                    data:{id:id,
                        auditState:val
                    },
                    type:"GET",
                    dataType:"json",
                    success:function(data){
                        if(data.success){
                            tb.draw(false);
                            layer.alert('操作成功', {icon: 1,btnAlign: 'c', closeBtn : 0});
                        }else{
                            layer.alert(data.message, {icon: 2,btnAlign: 'c', closeBtn : 0});
                            return false;
                        }
                    }
                });
                layer.close(index);
            });
        }

        function openSku(id,name) {
            $("#productName666").val(name);
            $.ajax({
                url: '/web/product/seeProductInventory', data: {
                    id: id
                }, dataType: "json", type: "get", success: skuBack, error: function (data) {
                    layer.alert('与服务器连接中断', {icon: 2, btnAlign: 'c', closeBtn: 0});
                }
            });
        }

        function  localProductExport(){
            $('#l_supplierId').val($('#supplierId').val());
            $('#l_brandId').val($('#brandId').val());
            $('#l_first').val($('#first').val());
            $('#l_examineStatus').val($('#examineStatus').val());
            $('#l_psrstus').val($('#status').val());
            $('#l_barcode').val($('#barCode').val());
            $('#l_productname').val($('#productName').val());
            $('#localProductExport').submit();
        }

        //计算总数
           function compute() {
               var count = 0;
               $("#totalNum").html("");
               $(".kc").each(function () {
                   var oneCount = $(this).val();
                   if (oneCount != "") {
                       count = Number(parseInt(count)) + Number(parseInt(oneCount));
                   }
               });
               $("#totalNum").html(count);
           }
    </script>
</body>
</html>