<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>发票管理</title>
    <link rel="stylesheet" th:href="@{/static/css/common/models.css}">
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--日期  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/datepicker/css/bootstrap-datepicker.css}">
    <!--弹窗 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/layer/layer.css}">
</head>
<body>
<div class="MainContent">
    <!--面包屑-->
    <div class="current">当前位置：<a href="#">发票管理</a></div>
    <!--end 面包屑-->
    <!--主体内容-->
    <div class="MainCont">

        <!--筛选条件-->
        <form id="queryForm">
            <div class="ph_screen">
                 <shiro:hasPermission name="invoiceQuery">
                <table class="ph_tableBox">
                    <tr>
                        <th>发票日期：</th>
                        <td colspan="2">
                            <p class="dayBox"><input style="width: 38%" class="start_rise date start" name="startTime" type="text"
                                                     id="startTime">&nbsp;-&nbsp;
                                <input style="width: 38%" class="start_rise date end" name="endTime" type="text" id="endTime"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>店铺账号：</th>
                        <td><input type="text" name="merchantTelPhone" id="merchantTelPhone"></td>
                        <td>
                            <input name="" type="button" th:onclick="'query();'" value="查询">
                            <input name="" type="button" th:onclick="'resetForm();'" value="重置">
                        </td>
                    </tr>

                </table>
                 </shiro:hasPermission>
            </div>
        </form>
        <!--end 筛选条件-->
        <!--商品列表-->
        <div class="ph_wareBox" style="overflow-x:auto; ">
            <table class="ph_wareList" style="width: 95%;font-size: 10px" id="example">
            </table>
        </div>
        <!--end 商品列表-->
    </div>
    <!--end 主体内容-->
</div>

<form id="validateForm">
</form>
<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/htmlHelper.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/select.js}"></script>
<!--分页-->
<script type="text/javascript" th:src="@{/static/js/plugins/pages/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/spm/spmExtends.js}"></script>
<!--弹窗-->
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>
<!--日期控件-->
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.timepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.datepair.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/datepicker.js}"></script>
<!--验证-->
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var tb;
    $(function () {
        //分页
        tb = $('#example').DataTable({
            "lengthChange": false,
            "ordering": false,
            "searching": false,

            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "sDom": '<"">t<"F"ip>',
            "sAjaxSource": "/web/invoice/list", //ajax调用接口
            "aoColumnDefs": [{sDefaultContent: '', aTargets: ['_all']}],
            "aoColumns": [
                /* { "sTitle" : "ID", 	 "mData": "id" ,"class":"sClass","sWidth" : "50px"},*/
                {
                    "sWidth": "50px",
                    "sTitle": "序号",
                    "mData": "id",
                    "class": "sClass",
                    "mRender": function (data, type, full, meta) {
                        return meta.row + 1 + meta.settings._iDisplayStart;
                    }
                },
                {"sTitle": "申请开票时间", "mData": "createdTime" , "sWidth" : "160.1px",},
                {"sTitle": "发票月份", "mData": "month", "sWidth" : "160.1px"},
                {"sTitle": "店铺名称", "mData": "merchantName", "sWidth" : "160.1px"},
                {"sTitle": "店铺账号", "mData": "merchantTelPhone", "sWidth" : "160.1px"},
                {"sTitle": "服务名称", "mData": "name", "sWidth" : "160.1px"},
              //  {"sTitle": "服务费/元", "mData": "money"},
                {
                    "sTitle": "服务费/元", "mData": "money", "sWidth" : "160.1px", "mRender": function (data, type, full) {
                    var text;
                    if (full.money == 0) {
                        text = "0.00";
                    }  else {
                        text = full.money.toFixed(2);
                    }
                    return text;
                }
                },
                {
                    "sTitle": "发票类型", "mData": "type", "sWidth" : "160.1px" ,"mRender": function (data, type, full) {
                    var text;
                    if (full.type == 1) {
                        text = "增值税发票";
                    }  else {
                        text = "普通发票";
                    }
                    return text;
                }
                },
                {
                    "sTitle": "税率", "mData": "cess", "sWidth" : "160.1px", "mRender": function (data, type, full) {
                    var text =  (parseInt(600) / parseInt(10000) * parseInt(100))+"%"
                    return text;
                }
                } ,

                {"sTitle": "纳税人识别号", "mData": "mark", "sWidth" : "160.1px"},
                {
                    "sTitle": "开票状态", "mData": "status", "sWidth" : "160.1px", "mRender": function (data, type, full) {
                    var text;
                    if (full.status == 0) {
                        text = "申请中";
                    } else if (full.status == 1) {
                        text = "已通过";
                    } else {
                        text = "不通过";
                    }
                    return text;
                }
                },
                {"sTitle": "公司名称", "mData": "companyName", "sWidth" : "160.1px"},
                {"sTitle": "收票人地址", "mData": "billingAddress", "sWidth" : "160.1px"},
                {"sTitle": "收票人姓名", "mData": "billingUserName", "sWidth" : "160.1px"},
                {"sTitle": "联系电话", "mData": "billingPhone", "sWidth" : "160.1px"},
                {
                    "sTitle": "操作", "mData": "id", "class": "ph_tableShow", "sWidth" : "160.1px", "mRender": function (data, type, full) {
                    var text = ''

                    if ([[${session.orderOnlineDetail}]]) {
                        if(full.status == 0 || full.status == null ){
                            text += '<a class="Js_btn" href="javascript:void(0);" onclick="toDetail(\'' + full.id + '\',\'' + full.status + '\');">查看|</a>';
                            text += '<a class="Js_btn" href="javascript:void(0);" onclick="pass(\'' + full.id + '\',\'' + 1+ '\');">通过|</a>';
                            text += '<a class="Js_btn" href="javascript:void(0);" onclick="refuse(\'' + full.id + '\',\'' + 2 + '\');">不通过</a>';

                        }else{
                            text += '<a class="Js_btn" href="javascript:void(0);" onclick="toDetail(\'' + full.id + '\',\'' + full.status + '\');">查看</a>';

                        }
                    }
                    return text;
                }
                }
            ],
            "oLanguage": {
                "sProcessing": "数据加载中······",
                "sLengthMenu": "显示 _MENU_ 条记录",
                "sZeroRecords": "没有您要搜索的内容！",
                "sEmptyTable": "列表中无数据存在！",
                "sInfo": "当前显示 _START_ 到 _END_ 条数据， 共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示 0 到 0 条记录",
                "sInfoFiltered": "数据列表中共  _MAX_ 条记录",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "GET",
                    "async": 'false',
                    "url": sSource,
                    "data": {
                        'pageNum': (aoData[3].value / aoData[4].value) + 1,
                        'pageSize': aoData[4].value,
                        'merchantTelPhone': $.trim($("#merchantTelPhone").val()),
                        'startTime': $.trim($('#startTime').val()),
                        'endTime': $.trim($('#endTime').val())
                    },
                    "success": fnCallback
                });
            },
            "fnDrawCallback": function () {
                var api = this.api();
                var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(0).nodes().each(function (cell, i) {
                    cell.innerHTML = startIndex + i + 1;
                });
            }
        });
    });

    //条件查询重新加载数据
    function query() {
        tb.draw();
    }
    /**
     * 重置内容
     */
    //重置查询条件--star
    function resetForm() {
        clearData("queryForm");
    }
    function clearData(id) {
        $("#" + id)[0].reset();
        var selected = $("#" + id).find("select");
        if (selected.length > 0) {
            for (var i = 0, length = selected.length; i < length; i++) {
                selected.eq(i).selectpicker('val', '');
            }
        }
    }
    //重置查询条件-end

    /**
     * 订单详情
     * @param subOrderId
     */
    function toDetail(subOrderId, status) {
        console.log(subOrderId+"<------------------>"+status)
        HtmlHelper.generateAutoSubmitForm({
            url: "/web/invoice/detail",
            data: {
                id: subOrderId,
                stauts: status
            }
        });
    }


    /**
     * 通过
     * @param subOrderId
     */
    function pass(subOrderId, status) {
        if(confirm("确认审核通过？")){
            $.ajax({
                url: "/web/invoice/examine",
                data: {
                    id: subOrderId,
                    stauts: status
                },
                success: function (result) {
                    if (result.success) {
                        location.reload();
                        alert("审核通过成功");
                    } else {
                        location.reload();
                        alert("审核通过失败")
                    }
                }
            });
        }
    }

    /**
     * 不通过
     * @param subOrderId
     */
    function refuse(subOrderId, status) {
        if(confirm("确认审核不通过？")){
            $.ajax({
                url: "/web/invoice/examine",
                data: {
                    id: subOrderId,
                    stauts: status
                },
                success: function (result) {
                    if (result) {
                        location.reload();
                        alert("审核不通过成功");
                    } else {
                        location.reload();
                        alert("审核不通过成功")
                    }
                }
            });
        }
    }


</script>
</body>
</html>