<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>结算信息</title>
    <link rel="stylesheet" th:href="@{/static/css/common/models.css}">
    <!--弹窗 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/layer/layer.css}">
</head>
<body>
<div class="MainContent">
    <!--面包屑-->
    <div class="current">当前位置：<a href="#">订单结算</a>&nbsp;&gt;&nbsp;<span>结算详情</span> </div>
    <!--end 面包屑-->
    <!--主体内容-->
    <div class="MainCont">
        <!--标题-->
        <div class="ph_subTit no_border">
            <h2>线上订单结算详情</h2>
        </div>
        <!--商品列表-->
        <div class="ph_wareBox">
            <table class="ph_wareList product" >
                <thead>
                <tr>
                    <th>商品名称</th>
                    <th>商品规格</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th>总价</th>
                    <th>成本价</th>
                    <th>物流配送费</th>
                    <th>店铺服务费</th>
                    <th class="qijian">旗舰店管理费</th>
                    <th>商品类型</th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="prod,iterStat:${prodlist}" >
                    <!--<td th:class="${prod.id}" th:text="${iterStat.count}"></td>-->
                    <td th:text="${prod.productName}"></td>
                    <td th:text="${prod.productSpecificationName}"></td>
                    <td th:text="${prod.num}"></td>
                    <td th:text="${prod.productSalePrice}"></td>
                    <td th:text="${prod.totalPriceD}"></td>

                    <!--<td th:text="${prod.purchasePrice}"></td>-->
                    <td th:text="${#numbers.formatDecimal((prod.purchasePrice /10000.00),1,2)}"></td>
                    <td th:text="${prod.freightFee}"></td>
                    <td th:text="${prod.recommendHunterFen}"></td>
                    <td class="qijian">
                        <span th:if="${prod.merchantType eq 2}"><span th:text="${prod.flagShipFee}"></span></span>
                        <!--<span th:if="${prod.merchantType eq 1}"><span th:text="${'-'}"></span></span>-->
                    </td>
                    <td >
                        <span th:if="${prod.PType eq 0}" id="mechants">专卖商品</span>
                        <span th:if="${prod.PType eq 1}" >本地商品</span>
                    </td>
                    <td style="display:none" >
                        <span th:if="${prod.merchantType eq 2}" >旗舰店</span>
                        <span th:if="${prod.merchantType eq 1}" id="mechant">卫星店</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--返回按钮-->
        <div class="PopupBtn">
            <input name="" type="button" value="返回" th:onclick="'toPageList();'">
        </div>
        <!--end 返回按钮-->
    </div>
    <!--end 主体内容-->
</div>
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>
<script type="text/javascript"  th:src="@{/static/js/common/number.js}"></script>
<script type="text/javascript">
    $(function (){
        var type = $("#mechant").text();
        //
        if (type == "卫星店") {
            // alert(type + ".....");
            $(".qijian").hide();
        }
    });

    /**
     * 返回到列表页面
     */
    function toPageList() {
        window.location.href="/web/onlineSettlement/toSettlementPage";
    }

</script>
</body>
</html>