<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>线上订单</title>
    <link rel="stylesheet" th:href="@{/static/css/common/models.css}">
    <!--bootstrap-select  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--日期  css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/datepicker/css/bootstrap-datepicker.css}">
    <!--弹窗 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/layer/layer.css}">
</head>
<body>
<div class="MainContent">
    <!--面包屑-->
    <div class="current">当前位置：<a href="#">订单管理</a>&nbsp;&gt;&nbsp;<span>线上订单</span></div>
    <!--end 面包屑-->
    <!--主体内容-->
    <div class="MainCont">
        <!--标题-->
        <div class="ph_subTit">
            <h2>线上订单</h2>
            <div class="ph_snbBtn">
                <shiro:hasPermission name="orderOnlineExport">
                    <input name="" type="button" th:onclick="'exportExcel();'" value="导出">
                </shiro:hasPermission>
            </div>
        </div>
        <!--end 标题-->
        <!--筛选条件-->
        <form id="queryForm">
            <div class="ph_screen">
                <shiro:hasPermission name="orderOnlineQuery">
                    <table class="ph_tableBox">
                        <tr>
                            <th>主订单号：</th>
                            <td><input type="text" name="orderNo" id="orderNo"></td>
                            <th>子订单号：</th>
                            <td><input type="text" name="orderSubNo" id="orderSubNo"></td>
                            <th>支付方式：</th>
                            <td>
                                <select class="selectpicker" data-live-search="true" name="type" id="type">
                                    <option value="">全部</option>
                                    <option value="3">余额支付</option>
                                    <option value="2">积分支付</option>
                                    <option value="0">快捷支付</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>订单状态：</th>
                            <td>
                                <select class="selectpicker" data-live-search="true" name="status" id="status">
                                    <option value="">全部</option>
                                    <option value="0">待付款</option>
                                    <option value="2">待发货</option>
                                    <option value="3">待收货</option>
                                    <option value="8">已完成</option>
                                    <option value="6">已撤销</option>
                                    <option value="7">已收货</option>
                                </select>
                            </td>
                            <th>会员账号：</th>
                            <td><input type="text" name="shippingTelphone" id="shippingTelphone"></td>
                            <th>店铺账号：</th>
                            <td><input type="text" name="merchantTelphone" id="merchantTelphone"></td>
                        </tr>
                        <tr>
                            <!--<th>服务专员账号：</th>-->
                            <!--<td><input type="text" name="hunterPhone" id="hunterPhone"></td>-->
                            <!--<th>配送方式：</th>-->
                            <!--<td>-->
                                <!--<select class="selectpicker" data-live-search="true" name="shippingType"-->
                                        <!--id="shippingType">-->
                                    <!--<option value="">全部</option>-->
                                    <!--<option value="1">上门取货</option>-->
                                    <!--<option value="0">物流快递</option>-->
                                <!--</select>-->
                            <!--</td>-->
<!--                            <th>商品来源：</th>
                            <td>
                                <select class="selectpicker" data-live-search="true" name="productType"
                                        id="productType">
                                    <option value="">全部</option>
                                    <option value="0">平台商品</option>
                                    <option value="1">店铺自有商品</option>
                                </select>
                            </td>-->
                        </tr>
                        <tr>
                            <th>创建时间：</th>
                            <td colspan="2">
                                <p class="dayBox"><input class="start_rise date start" name="startTime" type="text"
                                                         id="startTime">&nbsp;-&nbsp;
                                    <input class="start_rise date end" name="endTime" type="text" id="endTime"></p>
                            </td>
                            <td>
                                <input name="" type="button" th:onclick="'query();'" value="查询">
                                <input name="" type="button" th:onclick="'resetForm();'" value="重置">
                            </td>
                        </tr>
                    </table>
                </shiro:hasPermission>
            </div>
        </form>
        <!--end 筛选条件-->
        <!--商品列表-->
        <div class="ph_wareBox">
            <table class="ph_wareList" id="example">
            </table>
        </div>
        <!--end 商品列表-->
    </div>
    <!--end 主体内容-->
</div>

<form id="validateForm">
    <!--订单发货弹窗-->
    <div class="PopupBox" id="deliverBox">
        <!--内容-->
        <div class="PopupCon">
            <div class="ph_subPoCon ph_screen">
                <table class="ph_tableBox">
                    <tr>
                        <th><span class="require">*</span>物流公司：</th>
                        <td>
                            <select class="selectpicker" data-live-search="true" name="logisticsName" id="logisticsId">

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><span class="require">*</span>物流编号：</th>
                        <td><input name="" type="text" id="logisticsNo"></td>
                    </tr>
                </table>
            </div>
        </div>
        <!--end 内容-->
    </div>
    <!--end 订单发货弹窗-->

    <!--申请退款弹窗-->
    <div class="PopupBox" id="Js_refundBox">
        <!--内容-->
        <div class="PopupCon">
            <div class="ph_subPoCon ph_screen">
                <table class="ph_tableBox">
                    <tr>
                        <!--<th>退款备注：</th>-->
                        <td>
                            <textarea class="ph_txtAreaBg validate[required]" name="" id="appliReason"></textarea>
                        </td>
                    </tr>
                    <input type="hidden" id="orderId" value="">
                </table>
            </div>
        </div>
        <!--end 内容-->
    </div>
    <!--end 申请退款弹窗-->
</form>
<!--导出start 封装条件-->
<div hidden>
    <form action="/web/orderOnline/export" id="orderExport" method="post">
        <input type="hidden" name="orderNo" value="" id="e_orderNo"/>
        <input type="hidden" name="orderSubNo" value="" id="e_orderSubNo"/>
        <input type="hidden" name="payType" value="" id="e_type"/>
        <input type="hidden" name="status" value="" id="e_status"/>
        <input type="hidden" name="shippingTelphone" value="" id="e_shippingTelphone"/>
        <input type="hidden" name="merchantTelphone" value="" id="e_merchantTelphone"/>
        <input type="hidden" name="productType" value="" id="e_productType"/>
        <input type="hidden" name="endTime" value="" id="e_endTime"/>
        <input type="hidden" name="startTime" value="" id="e_startTime"/>
        <input type="hidden" name="isMerchant" value="3" id="isMerchant"/>
    </form>
</div>
<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/htmlHelper.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/select.js}"></script>
<!--分页-->
<script type="text/javascript" th:src="@{/static/js/plugins/pages/jquery.dataTables.min.js}"></script>
<!--弹窗-->
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>
<!--日期控件-->
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.timepicker.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/jquery.datepair.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/datepicker/datepicker.js}"></script>
<!--验证-->
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var tb;
    $(function () {
        $('.ph_wareBox').on('click', '.Js_deliver', function () {
            layer.open({
                type: 1,
                title: '订单发货',
                closeBtn: 0,
                area: ['442px', '280px'],
                btn: ['发货', '取消'],
                btnAlign: 'c',
                content: $('#deliverBox')
            });
        });
        //分页
        tb = $('#example').DataTable({
            "lengthChange": false,
            "ordering": false,
            "searching": false,

            "bServerSide": true,
            "sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "sDom": '<"">t<"F"ip>',
            "sAjaxSource": "/web/orderOnline/list", //ajax调用接口
            "aoColumnDefs": [{sDefaultContent: '', aTargets: ['_all']}],
            "aoColumns": [
                {
                    "sWidth": "50px",
                    "sTitle": "序号",
                    "mData": "id",
                    "class": "sClass",
                    "mRender": function (data, type, full, meta) {
                        return meta.row + 1 + meta.settings._iDisplayStart;
                    }
                },
                {"sWidth": "200px", "sTitle": "订单号", "mData": "orderNo"},
                {"sWidth": "200px", "sTitle": "子订单号", "mData": "orderNo"},
                {"sWidth": "150px", "sTitle": "创建时间", "mData": "createTime"},
                {"sTitle": "会员账号", "mData": "shippingName"},
//                {"sTitle": "服务专员账号", "mData": "hunterPhone"},
                {"sTitle": "店铺账号", "mData": "merchantTelphone"},
//                {"sTitle": "服务专员姓名", "mData": "hunterName"},
                {
                    "sTitle": "配送方式", "mData": "deliveryType", "mRender": function (data, type, full) {
                    var text;
                    if (full.deliveryType == 0) {
                        text = "物流快递";
                    }
                    if (full.deliveryType == 1) {
                        text = "上门取货";
                    }
                    return text;
                }
                },
/*                {
                    "sTitle": "商品来源", "mData": "productType", "mRender": function (data, type, full) {
                    var text;
                    if (full.productType == 0) {
                        text = "平台商品";
                    }
                    if (full.productType == 1) {
                        text = "店铺自有商品";
                    }
                    return text;
                }
                },*/
                {
                    "sTitle": "订单状态", "mData": "status", "mRender": function (data, type, full) {
                    var text;
                    if (full.status == 0) {
                        text = "待付款";
                    } else if (full.status == 2) {
                        text = "待发货";
                    } else if (full.status == 3 || full.status == 9) {
                        text = "待收货";
                    } else if (full.status == 8) {
                        text = "已完成";
                    } else if (full.status == 6) {
                        text = "已撤销";
                    } else if (full.status == 7) {
                        text = "已收货";
                    }
                    return text;
                }
                },
                {
                    "sTitle": "支付方式", "mData": "type", "mRender": function (data, type, full) {
                    var text;
                    if (full.type == 3) {
                        text = "余额支付";
                    } else if (full.type == 2) {
                        text = "积分支付";
                    } else if (full.type == 0) {
                        text = "快捷支付";
                    }
                    return text;
                }
                },
                {"sTitle": "完成时间", "mData": "endTime"},
                {
                    "sTitle": "操作", "mData": "id", "class": "ph_tableShow", "mRender": function (data, type, full) {
                    var text = '<div class="ph_operateBox"><input class="ph_operate" name="" type="button" value="操作选项">';
                    text = text + '<ul class="ph_operateList hide">';

                    if ([[${session.orderOnlineDetail}]]) {
                        text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="toDetail(\'' + full.id + '\',\'' + full.orderNo + '\');">订单详情</a></li>';
                    }
                    if(full.status == 7){
                        if ([[${session.extendReceive}]]) {
                            text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="updataReceiveTime(\'' + full.id + '\',\'' + full.orderNo + '\');">延长收货</a></li>';
                        }
                    }
                    /*if (full.status == 1) {
                     if ([[${session.orderOnlineSendOrder}]]) {
                     text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="toSend(\'' + full.id + '\');" >立即发货</a></li>';
                     }
                     } else if (full.status == 2) {
                     if ([[${session.orderOnlineLogistics}]]) {
                     text += '<li><a class="Js_btn" href="javascript:void(0);" onclick="toLogistics(\'' + full.id + '\');" >查看物流</a></li>';
                     }
                     }
                     if (full.status == 1 /!*1 && ((full.refundStatus == 3 || full.refundStatus == null ))*!/) {
                     if ([[${session.purchaseOrderRefund}]]) {
                     text += '<li><a class="Js_refund" href="javascript:void(0);" onclick="refundAppli(\''+ full.id +'\');">撤销订单</a></li>';
                     }
                     }*/
                    text = text + '</ul></div>';
                    return text;
                }
                }
            ],
            "oLanguage": {
                "sProcessing": "数据加载中······",
                "sLengthMenu": "显示 _MENU_ 条记录",
                "sZeroRecords": "没有您要搜索的内容！",
                "sEmptyTable": "列表中无数据存在！",
                "sInfo": "当前显示 _START_ 到 _END_ 条数据，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示 0 到 0 条记录",
                "sInfoFiltered": "数据列表中共  _MAX_ 条记录",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "GET",
                    "async": 'false',
                    "url": sSource,
                    "data": {
                        'pageNum': (aoData[3].value / aoData[4].value) + 1,
                        'pageSize': aoData[4].value,
                        'orderNo': $.trim($("#orderNo").val()),
                        'startTime': $.trim($('#startTime').val()),
                        'endTime': $.trim($('#endTime').val()),
                        'terminalUnit': $.trim($('#terminalUnit').val()),
                        'payType': $.trim($('#payType').val()),
                        'shippingTelphone': $.trim($('#shippingTelphone').val()),
                        'merchantTelphone': $.trim($('#merchantTelphone').val()),
//                        'hunterPhone': $.trim($('#hunterPhone').val()),
                        'hunterPhone': "",
                        'shippingType': $.trim($('#shippingType').val()),
                        'productType': $.trim($('#productType').val()),
                        'merchantId': $.trim($('#merchantId').val()),
                        'orderSubNo': $.trim($('#orderSubNo').val()),
                        'status': $.trim($('#status').val()),
                        'payType': $.trim($('#type').val())
                    },
                    "success": fnCallback
                });
            },
            "fnDrawCallback": function () {
                var api = this.api();
                var startIndex = api.context[0]._iDisplayStart;//获取到本页开始的条数
                api.column(0).nodes().each(function (cell, i) {
                    cell.innerHTML = startIndex + i + 1;
                });
            }
        });
    });

    //条件查询重新加载数据
    function query() {
        tb.draw();
    }
    /**
     * 重置内容
     */
    //重置查询条件--star
    function resetForm() {
        clearData("queryForm");
    }
    function clearData(id) {
        $("#" + id)[0].reset();
        var selected = $("#" + id).find("select");
        if (selected.length > 0) {
            for (var i = 0, length = selected.length; i < length; i++) {
                selected.eq(i).selectpicker('val', '');
            }
        }
    }
    //重置查询条件-end
    /**
     * 查看订单的物流信息
     * @param subOrderId
     */
    function toLogistics(subOrderId) {
        HtmlHelper.generateAutoSubmitForm({
            url: "/web/orderOnline/logistics",
            data: {
                id: subOrderId,
            }
        });
    }
    /**
     * 发货
     * @param subOrderId
     */
    function toSend(subOrderId) {
        //查出数据进行回填
        $.ajax({
            async: false,
            url: "/web/orderOnline/getSendAddressAndLogistics",
            data: {},
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    //填充数据
                    var dataList = data.data;
                    /*if(dataList.address.length>0){//仓库地址
                     var sendAddress;
                     var sendAddressDefaul;
                     for(var i=0; i< dataList.address.length;i++){
                     if (dataList.address[i].isDefault == 1){ //默认
                     sendAddressDefaul = "<option value='"+ dataList.address[i].id +"'>" + dataList.address[i].address + "</option>";
                     }else {
                     sendAddress += "<option value='"+ dataList.address[i].id +"'>" + dataList.address[i].address + "</option>";
                     }
                     }
                     $("#sendAddressId").append(sendAddressDefaul+sendAddress);
                     $('.selectpicker').selectpicker('refresh');
                     }*/
                    //物流信息
                    if (dataList.logistics.length > 0) {
                        for (var i = 0; i < dataList.logistics.length; i++) {
                            $("#logisticsId").append("<option value='" + dataList.logistics[i].id + "'>" + dataList.logistics[i].logisticsName + "</option>");
                        }
                        $('.selectpicker').selectpicker('refresh');
                    }
                    layer.open({
                        type: 1,
                        title: '订单发货',
                        closeBtn: 0,
                        area: ['500px', '300px'],
                        btn: ['发货', '取消'],
                        btnAlign: 'c',
                        content: $('#deliverBox'),
                        yes: function (index, layero) {
                            var flag = $("#validateForm").validationEngine("validate");
                            if (!flag) {
                                return false;
                            }
                            var data = {};
                            data.orderId = subOrderId;
                            var sendAddress = $('#sendAddressId').find("option:selected");
                            data.sendAddressId = sendAddress.val();
                            data.sendAddressName = sendAddress.text();

                            var logistics = $('#logisticsId').find("option:selected");
                            data.logisticsId = logistics.val();
                            data.logisticsName = logistics.text();

                            data.logisticsNo = $('#logisticsNo').val();
                            $.ajax({
                                async: false,
                                url: "/web/orderOnline/sendOrder",
                                data: data,
                                type: "POST",
                                dataType: "json",
                                success: function (data) {
                                    if (data.success) {
                                        layer.close(index);
                                        tb.draw(false);
                                        layer.alert(data.message, {icon: 1, btnAlign: 'c', closeBtn: 0});
                                    } else {
                                        layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
                                    }
                                }
                            });
                        }, btn2: function (index, layero) {
                            $('.selectpicker').empty();
                            layer.close(index);
                        }
                    });
                } else {
                    layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
                }
            }
        });


    }

    function refundAppli(id) {
        layer.open({
            type: 1,
            title: '请填写撤销原因',
            closeBtn: 0,
            area: ['500px', '300px'],
            btn: ['确定', '取消'],
            btnAlign: 'c',
            content: $('#Js_refundBox'),
            yes: function (index, layero) {
                var flag = $("#validateForm").validationEngine("validate");
                if (!flag) {
                    return false;
                }
                $.ajax({
                    async: false,
                    url: "/web/order/purchase/refund/add",
                    data: {subOrderId: id, appliReason: $('#appliReason').val()},
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            layer.close(index);
                            tb.draw(false);
                            layer.alert(data.message, {icon: 1, btnAlign: 'c', closeBtn: 0});
                        } else {
                            layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
                        }
                    }
                });
            }, btn2: function (index, layero) {
                $('#appliReason').val('');
                layer.close(index);
            }
        });
    }


    /**
     * 订单详情
     * @param subOrderId
     */
    function toDetail(subOrderId, orderNo) {
        HtmlHelper.generateAutoSubmitForm({
            url: "/web/orderOnline/detail",
            data: {
                id: subOrderId,
                orderNo: orderNo
            }
        });
    }


    /**
     * 延长收货
     * @param subOrderId
     */
    function updataReceiveTime(subOrderId, orderNo) {
        var index = layer.confirm('确认延长收货7天？', {
            btn: ['取消', '确定'] //按钮
        }, function () {
            layer.close(index);
        }, function () {
            $.post(
                    "/web/orderOnline/updataReceiveTime",
                    {
                        id: subOrderId,
                        orderNo: orderNo
                    },
                    function (data) {
                        console.log(data)
                        if (data.code == 200) {
                            console.log(data.code)
                            location.reload();
                            layer.msg('操作成功', {time: 500});
                        } else {
                            location.reload();
                            layer.msg('操作失败', {time: 500});
                        }
                    })
        });
    }

    /**
     * 导出数据
     */
    function exportExcel() {
        $('#e_orderNo').val($('#orderNo').val());
        $('#e_orderSubNo').val($('#orderSubNo').val());
        $('#e_type').val($('#type').val());
        $('#e_status').val($('#status').val());
        $('#e_shippingTelphone').val($('#shippingTelphone').val());
        $('#e_merchantTelphone').val($('#merchantTelphone').val());
        $('#e_productType').val($('#productType').val());
        $('#e_endTime').val($('#endTime').val());
        $('#e_startTime').val($('#startTime').val());
        $('#orderExport').submit();
    }

</script>
</body>
</html>