<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>普济一城商城后台系统</title>
    <head th:include="header::header"></head>
    <!-- bootstrap-select  css文件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/bootstrapselect/css/bootstrap-select.css}"/>
    <!--图片点击放大 css文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/plugins/viewer/css/viewer.min.css}">
</head>
<body>
<div class="MainContent">
    <div class="current">当前位置：<a href="javascript:void(0);" alt="">新媒体管理 &gt;</a><a href="javascript:void(0);" alt="">直播列表
        &gt;</a><span>编辑直播</span></div>
    <div class="MainCont ">
        <form action="" method="post">
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">直播标题:</span>
                </label>
                <input type="text" onkeyup="clearNoNum(this.value)" class="left validate[required,maxSize[20]]" placeholder="" id="title" name="title"
                       th:value="${live.title}"/>
                <!-- 上级分类id 默认0 由js动态赋值 -->
                <input type="hidden" class="left" placeholder="" id="parentId" name="parentId" value="0"/>
                <input type="hidden" class="left" placeholder="" id="classifyLevel" name="classifyLevel" value="1"/>
            </div>
            <!--<div class="mainFrom">
                <label class="left">
                    <span class="">品牌英文名称:</span>
                </label>
                <input type="text" class="left" placeholder="" name="elName"/>
                &lt;!&ndash; <input type="radio" class="Category-2" name="Category" placeholder="" value="二级分类"/>二级分类
                 <input type="radio" class="Category-3" name="Category" placeholder="" value="三级分类"/>三级分类&ndash;&gt;
            </div>-->
            <!-- <div class="mainFrom Category-parent">
                 <label class="left">
                     <span class="">上级分类:</span>
                 </label>
                 &lt;!&ndash;onchange="getClass(this.options[this.selectedIndex].value,'second');"&ndash;&gt;
                 <select class="selectUp selectpicker" data-live-search="true" id="first"
                         >
                     &lt;!&ndash;<option value="">请选择</option>&ndash;&gt;
                     <option th:each="list:${productClassifyList}" th:value="${list.id}"
                             th:text="${list.classifyName}"></option>
                 </select>
                 <select class="selectUp selectpicker level3" data-live-search="true" id="second"></select>
             </div>-->
            <!-- <div class="mainFrom">
                 <label class="left">
                     <span class="require">*</span>
                     <span class="">分类排序:</span>
                 </label>
                 <input type="text" class="left validate[required,custom[integer],min[1],max[2147483647]]" name="sort" id="sort" onblur="querySortCount()"/>
             </div>-->
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">封面图片:</span>
                    <input type="hidden" id="imgurl" name="imgurl">
                </label>
                <div class="content-box">
                    <div class="img-box addIndustry">
                        <div class="img-box full">
                            <section class=" img-section">
                                <div class="z_photo upimg-div" data-file-type=3>
                                    <section class="z_file left imgUrlSection">
                                        <img src="/static/images/add.png" class="add-img">
                                        <input type="file" name="file" id="file" class="file" value=""
                                               accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
                                    </section>
                                </div>
                            </section>
                            <span>上传商品品牌图片，照片大小不超过5M，限制格式：jpg、jpeg、png、bmp</span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">FMS URL:</span>
                </label>
                <div class="content-box">
                    <input style="width:1000px" type="text"
                           value=""
                           placeholder="" id="FMSaddress" name="FMSaddress" readonly="true"
                           th:value="${fmsaddress}"/>
                </div>
            </div>

            <div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">播放路径:</span>
                </label>
                <div class="content-box">
                    <input style="width:1000px" type="text"
                           value=""
                           placeholder="" id="playaddress" name="playaddress" readonly="true"
                           th:value="${playaddress}"/>
                </div>
            </div>

            <!--<div class="mainFrom">
                <label class="left">
                    <span class="require">*</span>
                    <span class="">推流地址:</span>
                </label>
                <div class="content-box">-->
            <input style="width:1000px" type="hidden"
                   value=""
                   placeholder="" id="tladdress" name="tladdress" readonly="true" th:value="${live.live_address}"/>
            <!--</div>
        </div>

        <div class="mainFrom">
            <label class="left">
                <span class="require">*</span>
                <span class="">FLV拉流地址:</span>
            </label>
            <div class="content-box">-->
            <input type="hidden" style="width:1000px" placeholder="" id="flvAddress" name="flvAddress"
                   readonly="true" th:value="${live.flv_play_address}"/>
            <!--</div>
        </div>
        <div class="mainFrom">
            <label class="left">
                <span class="require">*</span>
                <span class="">RTMP地址:</span>
            </label>
            <div class="content-box">-->
            <input type="hidden" style="width:1000px" placeholder="" id="rtmpAddress" name="rtmpAddress"
                   readonly="true" th:value="${live.rtmp_play_address}"/>
            <!--</div>
        </div>
        <div class="mainFrom">
            <label class="left">
                <span class="require">*</span>
                <span class="">HLS拉流地址:</span>
            </label>
            <div class="content-box">-->
            <input type="hidden" style="width:1000px" placeholder="" id="hlsAddress" name="hlsAddress"
                   readonly="true" th:value="${live.hls_play_address}"/>
            <!--</div>
        </div>-->
            <!--<div class="mainFrom">
                <label class="left">
                    <span class="">品牌故事:</span>
                </label>
                &lt;!&ndash;<input type="text" style="width: 1000px;height: 300px;margin-left: 15px;" class="left" placeholder="" name="story"/>&ndash;&gt;
                <textarea type="text" style="width: 1000px;height: 300px;margin-left: 15px; resize:none;" class="left wenben" placeholder="" name="story"></textarea>
                &lt;!&ndash; <input type="radio" class="Category-2" name="Category" placeholder="" value="二级分类"/>二级分类
                 <input type="radio" class="Category-3" name="Category" placeholder="" value="三级分类"/>三级分类&ndash;&gt;
                <span style="position:relative;top:283px;right:63px"><i class="wen_num">0</i>/1000</span>
            </div>-->
            <!--<div class="mainFrom">
                <label class="left">
                    <span class="">分类描述:</span>
                </label>
                <textarea id="container" name="description" style="margin-left:15px;width: 800px;height: 160px;border: 1px solid #eee;"></textarea>
            </div>-->
            <!--<div class="mainFrom">
                <label class="left">
                    <span class="">是否启用:</span>
                </label>
                <input type="radio" name="status" placeholder="启用" value="1" checked="checked"/>启用
                <input type="radio" name="status" placeholder="不启用" value="0"/>不启用
            </div>-->
            <input type="hidden" id="levleHidden" value=""/>
            <input type="hidden" id="roomId" name="roomId"/>
            <input type="hidden" id="id" name="id" th:value="${live.id}"/>
        </form>
        <div class="PopupBtn btnLeft" style="margin-bottom: 20px;margin-left: 40px">

            <input class="submit addCategories_save " name="" type="button" value="保存">

            <input class="cancel addCategories_cancel" name="" type="button" value="取消">

        </div>
        <!--商品规格组结束-->
        <!--规格展示表格-->

    </div>
</div>
<script type="text/javascript" th:src="@{/static/js/common/jquery-1.11.1.min.js}"></script>
<!--图片上传插件-->
<script type="text/javascript" th:src="@{/static/js/common/imgUp.js}"></script>
<!--bootstrap-select-->
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/bootstrapselect/select.js}"></script>
<!-- 验证 -->
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/validat/jquery.validationEngine-zh_CN.js}"></script>
<!--属性输入框的增加和删除-->
<script type="text/javascript" th:src="@{/static/js/common/attrbox.js}"></script>
<!--图片点击放大-->
<script type="text/javascript" th:src="@{/static/js/plugins/viewer/viewer-jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/index.js}"></script>
<script type="text/javascript" th:src="@{/static/js/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var imgurl = [[${live.img_url}]];
    console.log("**********" + imgurl);
    $(function () {
        $("#first").trigger("change");
        //验证初始化
        $('form').validationEngine({
            validationEventTrigger: 'keyup blur'//触发验证的事件，支持事件可参考 jQuery 的事件说明。
            , scroll: true//	屏幕自动滚动到第一个验证不通过的位置。
            , focusFirstField: true//验证未通过时，是否给第一个不通过的控件获取焦点。
            , validateNonVisibleFields: false//是否验证不可见的元素（如 type="hidden" 的输入框，或多个输入控件在选项卡切换中）
            , promptPosition: 'bottomLeft:20 0'
            , addPromptClass: 'formError-text'
        });

        $(function () {
            //alert(${merchantVO.attachentAddress});
            var section =
                    '<section class="up-section left">' +
                    '<span class="up-span"></span>' +
                    '<img class="close-upimg" src="/static/images/img-del.png">' +
                    '<img class="up-img zoom-img" data-img-upload-src="' + imgurl + '" src="' + imgurl + '">' +
                    '</section>';
            var divDataFileType = $("div[data-file-type='" + 3 + "']");
            var lastChildren = divDataFileType.children(":last");
            var maxImage = parseInt(divDataFileType.attr("data-file-maxImage")) || 1;
            lastChildren.before(section);
            $("#headImg").val($(".up-img").attr("data-img-upload-src"));
            if (divDataFileType.children().length === (maxImage + 1)) {
                lastChildren.css("display", "none");
            }
        });


        /*var str1 = $('.wenben').val().length;
         $('.wen_num').html(str1);
         $('.wenben').on('keyup',function(){
         console.log($(this).val());
         var str=$(this).val();
         var l=str.length;
         if(l>1000){
         $(this).val(str.slice(0,1000));
         l=1000;
         }
         $('.wen_num').html(l);
         })*/
        //保存
        $(".addCategories_save").click(function () {
            var flag = $("form").validationEngine("validate");
            if (!flag) {
                return false;
            }
            if ($('.imgUrlSection').css('display') == 'block') {
                layer.alert("请上传封面图片！", {icon: 2, btnAlign: 'c', closeBtn: 0});
                return false;
            }
            /*if($('.picSection').css('display') == 'block'){
             layer.alert("请上传品牌图片！", {icon: 2, btnAlign: 'c', closeBtn: 0});
             return false;
             }*/

            $("#imgurl").val($(".up-img")[0].getAttribute("data-img-upload-src"));
            /*$("#picUrl").val($(".up-img")[1].getAttribute("data-img-upload-src"));*/
            //处理父级id
            if ($('input.Category-1').is(":checked")) {
                $("#parentId").val(0);//父级id
                $("#classifyLevel").val(1);//分类级别
            }
            if ($('input.Category-2').is(":checked")) {
                $("#parentId").val($('#first').val());
                $("#classifyLevel").val(2);
            }
            if ($('input.Category-3').is(":checked")) {
                $("#parentId").val($('#second').val());
                $("#classifyLevel").val(3);
            }
            $.ajax({
                async: false,
                type: "POST",
                url: "/web/live/updatelive",
                data: $("form").serialize(),
                success: function (data) {
                    if (data.success == true) {
                        layer.confirm('编辑直播成功', {
                            title: "成功",
                            icon: 1,
                            btnAlign: 'c',
                            closeBtn: 0,
                            btn: ['返回'],
                            btn1: function () {
                                window.location.href = "/web/live/tolivelist";
                            }
                        });
                    } else {
                        layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
                    }
                }
            });

        });

        //取消
        $(".addCategories_cancel").click(function cancel() {
            layer.confirm('确定取消?', {
                icon: 3,
                btn: ['确定', '返回'],
                btnAlign: 'c',
                closeBtn: 0,
                btn1: function () {
                    sessionStorage.removeItem("dataXls");
                    location.href = "/web/live/tolivelist";
                },
                btn2: function (index) {
                    layer.close(index);
                }
            });
        });
        //页面清空操作
        var ckk = '';//保存分类级别勾选项
        var s1 = '';//保存二级分类上级
        var s2 = '';//保存三级分类上级
        ckk = $('input[name="Category"]:checked').attr('class');
        $('input[name="Category"]').click(function () {
            ckk = $('input[name="Category"]:checked').attr('class');

        })
        $('select.selectUp').change(function () {
            s1 = $('span.filter-option').eq(0).text();
            s2 = $('span.filter-option').eq(1).text();
        })
        //继续添加
        function goOn() {
//           var pid = $("#parentId").val();
//           var level = $("#classifyLevel").val();
//            $('form')[0].reset();
//            $('.up-section').remove();
//            $('input.'+ckk+'').prop('checked',true);
//            $('input[name="enable"]').eq(0).prop('checked',true);
//           var pid = $("#parentId").val(pid);
//           var level = $("#classifyLevel").val(level);

            window.location.reload();
        }

        var value = $('#file').attr('value');
        $("#file" + value).takungaeImgup({
            formData: {
                'module': 'classify',
                'name': 'url',
                'filesname': 'urlfile'
            },
            url: '/web/attachment/upload',
            maxImage: 1,
            success: function (data) {
            },
            error: function (err) {
                layer.alert(err, {icon: 2, btnAlign: 'c', closeBtn: 0});
            }
        });

        $("#pfile" + value).takungaeImgup({
            formData: {
                'module': 'classify',
                'name': 'url',
                'filesname': 'urlfile'
            },
            url: '/web/attachment/upload',
            maxImage: 1,
            success: function (data) {
            },
            error: function (err) {
                layer.alert(err, {icon: 2, btnAlign: 'c', closeBtn: 0});
            }
        });

        $('.zoom-img').viewer({
            url: 'src',
            navbar: false,
            keyboard: true,
            title: true
        });

    });

    function querySortCount() {
        var sort = $("#sort").val();
        $.ajax({
            url: '/web/product/productClassify/getSortCount?sort=' + sort,
            tyep: "post",
            success: saveSort, error: function (data) {
                layer.alert("与服务器连接中断");
            }
        });
    }

    function saveSort(data) {
        if (data.code == "8000") {
            layer.alert(data.message, {icon: 2, btnAlign: 'c', closeBtn: 0});
        }
    }
    //分类联动方法
    function getClass(id, level) {
        $("#levleHidden").val("");
        $("#levleHidden").val(level);
        if (level == "second") {
            document.getElementById("second").options.length = 0;
            $("#second").prepend("<option value=''>全部</option>");
            $('.selectpicker').selectpicker('refresh');
        }
        if (id != "") {
            $.ajax({
                url: '/web/product/productClassify/selectClass?id=' + id,
                dataType: "json",
                type: "post",
                success: savecallbackOne,
                error: function (data) {
                    alert("与服务器连接中断");
                }
            });
        }
    }
    //去除表情
    function clearNoNum(value) {
        if (!(/^[？\·\）\（\—\……\￥\，\！\》\《\”\“\‘\’\：\；\】\【\、\\\。\.\s\~\`\!\@\#\$\%\^\&\*\(\)\-\_\+\=\|\[\]\{\}\;\:\"\'\,\<\.\>\/\?\0-9\A-Za-z\u4e00-\u9fa5]+$/).test(value)){
            $("#title").val("");
        }
    }
    function savecallbackOne(data) {
        var levle = $("#levleHidden").val();
        if (levle == "second") {
            $("#three").find("option").remove();
            $('.selectpicker').selectpicker('refresh');

        }
        $("#" + levle).find("option").remove();
        for (var i = 0; i < data.data.length; i++) {
            $("#" + levle).append("<option value='" + data.data[i].id + "'>" + data.data[i].classifyName + "</option>");
        }
        $('.selectpicker').selectpicker('refresh');
    }
</script>
</body>
</html>